a.cb-remove-group {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 14px;
    height: 14px;
    background-position: -0px -0px;
}
a.cb-remove-group:hover {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 14px;
    height: 14px;
    background-position: -0px -24px;
}
a.cb-add-condition {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 14px;
    height: 14px;
    background-position: -0px -48px;
}
a.cb-add-condition:hover {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 14px;
    height: 14px;
    background-position: -0px -72px;
}
a.cb-remove-condition {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 14px;
    height: 14px;
    background-position: -0px -96px;
}
a.cb-remove-condition:hover {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 14px;
    height: 14px;
    background-position: -0px -120px;
}
*.creator_logo_png {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    height: 50px;
    width: 100px;
    background-position: -0px -144px;
}
*.loading_gif {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    top: 48%;
    left: 48%;
    position: absolute;
    height: 5%;
    width: 5%;
    background-position: -0px -153px;
}
*.zc-sb-pageHeader *.myappsIcon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 14px;
    height: 14px;
    background-position: -0px -162px;
}
*.myappsIcon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 14px;
    height: 14px;
    background-position: -0px -186px;
}
*.zc-sb-pageHeader *.searchContainer input[type="button"] {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 11px;
    height: 11px;
    background-position: -0px -210px;
}
*.searchContainer input[type="button"] {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 11px;
    height: 11px;
    background-position: -0px -231px;
}
*.zc-sb-pageHeader *.helpIcon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 16px;
    height: 16px;
    background-position: -0px -252px;
}
*.helpIcon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 16px;
    height: 16px;
    background-position: -0px -278px;
}
*.chatInActiveIcon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 16px;
    height: 15px;
    background-position: -0px -304px;
}
*.chatAvailableIcon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 16px;
    height: 15px;
    background-position: -0px -329px;
}
*.chatBusyIcon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 16px;
    height: 15px;
    background-position: -0px -354px;
}
*.chatIdleIcon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 16px;
    height: 15px;
    background-position: -0px -379px;
}
*.pull_menu_rect_white {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 100px;
    height: 14px;
    background-position: -0px -404px;
}
*.zc-sb-pageHeader-Menu *.pull_menu_rect_black {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 100px;
    height: 14px;
    background-position: -0px -428px;
}
*.pull_menu_rect_black {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 100px;
    height: 14px;
    background-position: -0px -452px;
}
*.dropDownContsearchBox input[type="button"] {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 28px;
    height: 26px;
    background-position: -0px -476px;
}
*.formIcon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 14px;
    height: 11px;
    background-position: -0px -512px;
}
*.reportIcon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 14px;
    height: 11px;
    background-position: -0px -533px;
}
*.editIcon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 11px;
    height: 11px;
    background-position: -0px -554px;
}
*.accessIcon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 14px;
    height: 12px;
    background-position: -0px -575px;
}
*.settingsIcon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 14px;
    height: 14px;
    background-position: -0px -597px;
}
*.duplicateIcon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 10px;
    height: 12px;
    background-position: -0px -621px;
}
*.calIcon,
*.calendarIcon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 14px;
    height: 14px;
    background-position: -0px -643px;
}
*.calTimeIcon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 16px;
    height: 16px;
    background-position: -0px -667px;
}
*.trashIcon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 11px;
    height: 11px;
    background-position: -0px -693px;
}
*.shareIcon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 10px;
    height: 7px;
    background-position: -0px -714px;
}
*.printIcon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 13px;
    height: 14px;
    background-position: -0px -731px;
}
*.delIcon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 12px;
    height: 12px;
    background-position: -0px -755px;
}
*.appExportIcon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 12px;
    height: 11px;
    margin-top: 2px;
    background-position: -0px -777px;
}
*.appMobileIcon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 12px;
    height: 14px;
    margin-top: 1px;
    background-position: -0px -798px;
}
*.tempActions:hover *.delIcon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 12px;
    height: 12px;
    background-position: -0px -822px;
}
*.builderlayout *.delIcon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 9px;
    height: 9px;
    background-position: -0px -844px;
}
*.builderlayout *.tempActions:hover *.delIcon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 9px;
    height: 9px;
    background-position: -0px -863px;
}
*.addIcon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 15px;
    height: 13px;
    background-position: -0px -882px;
}
*.moveIcon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 13px;
    height: 13px;
    background-position: -0px -905px;
}
*.minusIcon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 15px;
    height: 13px;
    background-position: -0px -928px;
}
*.dupeIcon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    background-position: -0px -755px;
    width: 12px;
    height: 12px;
}
*.popMsgIcon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 46px;
    height: 43px;
    background-position: -0px -951px;
}
*.announcement_icon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 38px;
    height: 23px;
    background-position: -0px -1004px;
}
*.shareicon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 23px;
    height: 24px;
    background-position: -0px -1037px;
}
*.userspermsicon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 17px;
    height: 19px;
    background-position: -0px -1071px;
}
*.creatorhelp_icon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 16px;
    height: 22px;
    background-position: -0px -1100px;
}
*.creatorsearch_icon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 22px;
    height: 22px;
    background-position: -0px -1132px;
}
*.feedback_icon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 32px;
    height: 32px;
    background-position: -0px -1164px;
}
*.imgsettingEmail {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 12px;
    height: 10px;
    background-position: -0px -1206px;
}
*.imgsettingPublish {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 12px;
    height: 13px;
    background-position: -0px -1226px;
}
*.imgsettingPayment {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 14px;
    height: 15px;
    background-position: -0px -1249px;
}
*.imgsettingWorkflow {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 9px;
    height: 13px;
    background-position: -0px -1274px;
}
*.imgsettingSecurity.imgsettingSecurity {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 11px;
    height: 13px;
    background-position: -0px -1297px;
}
*.selectField *.arrow {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 10px;
    height: 14px;
    background-position: -0px -1320px;
}
*.custom_check input[type="checkbox"]+label span {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 15px;
    height: 15px;
    background-position: -0px -1344px;
}
*.custom_check input[type="checkbox"]:checked+label span {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 15px;
    height: 15px;
    background-position: -0px -1369px;
}
*.custom_check input[type="checkbox"]:disabled+label span {
    opacity: .5;
}
*.custom_radio input[type="radio"]+label span {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 16px;
    height: 16px;
    background-position: -0px -1394px;
}
*.custom_radio input[type="radio"]:checked+label span {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 16px;
    height: 16px;
    background-position: -0px -1420px;
}
*.custom_radio input[type="radio"]:disabled+label span {
    opacity: .5;
}
*.small_bullet {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 3px;
    height: 4px;
    background-position: -0px -1446px;
}
*.settingComplistArrow {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 9px;
    height: 5px;
    background-position: -0px -1460px;
}
*.settingLeftHeader_icon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 16px;
    height: 16px;
    background-position: -0px -1475px;
}
*.comps_list_arrow {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 25px;
    height: 12px;
    background-position: -0px -1501px;
}
*.comps_list_arrow2 {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 25px;
    height: 12px;
    background-position: -0px -1523px;
}
*.radiodeSelect {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    background-position: -0px -1394px;
    width: 16px;
    height: 16px;
}
*.radioSelect {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    background-position: -0px -1420px;
    width: 16px;
    height: 16px;
}
*.edit_icon_medium {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 11px;
    height: 11px;
    background-position: -0px -1545px;
}
*.delete_cross {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 10px;
    height: 11px;
    background-position: -0px -1566px;
}
*.delete_cross:hover {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    background-position: -0px -24px;
    width: 14px;
    height: 14px;
}
*.zc_delete_cross {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    background-position: -0px -1566px;
    width: 10px;
    height: 11px;
}
*.zc_delete_cross:hover {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    background-position: -0px -24px;
    width: 14px;
    height: 14px;
}
*.ui-spinner *.ui-icon-triangle-1-n {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 5px;
    height: 4px;
    background-position: -0px -1587px;
}
*.ui-spinner *.ui-icon-triangle-1-s {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 5px;
    height: 4px;
    background-position: -0px -1601px;
}
*.info_icon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 16px;
    height: 16px;
    background-position: -0px -1615px;
}
*.settingArrow {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    background-position: -0px -1615px;
    width: 16px;
    height: 16px;
}
*.selectArrow {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    background-position: -0px -1320px;
    width: 10px;
    height: 14px;
}
*.newForm {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 17px;
    height: 15px;
    background-position: -0px -1641px;
}
*.newReport {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 16px;
    height: 16px;
    background-position: -0px -1666px;
}
*.newPage {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 16px;
    height: 15px;
    background-position: -0px -1692px;
}
*.userIcon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 14px;
    height: 14px;
    background-position: -0px -1717px;
}
*.notificationIcon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 14px;
    height: 14px;
    background-position: -0px -1741px;
}
*.tourClose {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    background-position: -0px -24px;
    width: 14px;
    height: 14px;
}
*.tourleftArrow small,
*.tourbottomArrow small,
*.tourtopArrow small {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 72px;
    height: 47px;
    background-position: -0px -1765px;
}
*.tourrightArrow small {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 74px;
    height: 47px;
    background-position: -0px -1822px;
}
*.tournextarrow,
*.tourprevarrow {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 16px;
    height: 13px;
    background-position: -0px -1879px;
}
*.removeIcon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 12px;
    height: 13px;
    background-position: -0px -1902px;
}
*.add_btn_icon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 16px;
    height: 15px;
    margin: 0 5px 0 0;
    background-position: -0px -1925px;
}
*.criteria_builder_icon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 12px;
    height: 13px;
    background-position: -0px -1950px;
}
*.rt_options_bold {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 25px;
    height: 22px;
    background-position: -0px -1973px;
}
*.rt_options_italic {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 23px;
    height: 22px;
    background-position: -0px -2005px;
}
*.rt_options_underline {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 23px;
    height: 22px;
    background-position: -0px -2037px;
}
*.rt_options_font_family {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 24px;
    height: 22px;
    background-position: -0px -2069px;
}
*.rt_options_strike_through {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 26px;
    height: 22px;
    background-position: -0px -2101px;
}
*.rt_options_font_size {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 25px;
    height: 22px;
    background-position: -0px -2133px;
}
*.rt_options_indent_decrease {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 24px;
    height: 22px;
    background-position: -0px -2165px;
}
*.rt_options_indent_increase {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 24px;
    height: 22px;
    background-position: -0px -2197px;
}
*.rt_options_font_color {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 24px;
    height: 22px;
    background-position: -0px -2229px;
}
*.rt_options_background_color {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 25px;
    height: 22px;
    background-position: -0px -2261px;
}
*.rt_options_remove_formatting {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 26px;
    height: 22px;
    background-position: -0px -2293px;
}
*.rt_options_alignment_left {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 25px;
    height: 22px;
    background-position: -0px -2325px;
}
*.rt_options_alignment_right {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 23px;
    height: 22px;
    background-position: -0px -2357px;
}
*.rt_options_alignment_justify {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 23px;
    height: 22px;
    background-position: -0px -2389px;
}
*.rt_options_alignment_center {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 24px;
    height: 22px;
    background-position: -0px -2421px;
}
*.rt_options_insert_link {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 24px;
    height: 22px;
    background-position: -0px -2453px;
}
*.rt_options_remove_link {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 24px;
    height: 22px;
    background-position: -0px -2485px;
}
*.rt_options_insert_table {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 25px;
    height: 22px;
    background-position: -0px -2517px;
}
*.rt_options_insert_ruler {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 25px;
    height: 22px;
    background-position: -0px -2549px;
}
*.rt_options_bullet_list {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 25px;
    height: 22px;
    background-position: -0px -2581px;
}
*.rt_options_number_list {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 23px;
    height: 22px;
    background-position: -0px -2613px;
}
*.rt_options_script_sub {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 24px;
    height: 22px;
    background-position: -0px -2645px;
}
*.rt_options_script_super {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 24px;
    height: 22px;
    background-position: -0px -2677px;
}
*.rt_options_insert_code {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 25px;
    height: 22px;
    background-position: -0px -2709px;
}
*.rt_options_insert_html {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 25px;
    height: 22px;
    background-position: -0px -2741px;
}
*.rt_options_insert_quote {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 25px;
    height: 22px;
    background-position: -0px -2773px;
}
*.ui-datepicker *.ui-datepicker-next span {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 6px;
    height: 9px;
    background-position: -0px -2805px;
}
*.ui-datepicker *.ui-datepicker-prev span {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 6px;
    height: 9px;
    background-position: -0px -2824px;
}
*.insertFields span,
*.addAddresse b {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 20px;
    height: 11px;
    background-position: -0px -2843px;
}
*.toggle_round {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 21px;
    height: 22px;
    position: absolute;
    background-position: -0px -2864px;
}
*.field_tasks_icon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 12px;
    height: 13px;
    background-position: -0px -2896px;
}
*.accordion_down_arrow {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 13px;
    height: 9px;
    background-position: -0px -2919px;
}
*.next_url_icon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 14px;
    height: 12px;
    background-position: -0px -2938px;
}
*.rule_notification_icon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 14px;
    height: 14px;
    background-position: -0px -2960px;
}
*.success_msg_icon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 12px;
    height: 13px;
    background-position: -0px -2984px;
}
*.new_task_plus_icon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 10px;
    height: 11px;
    background-position: -0px -3007px;
}
*.existing_task_icon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 14px;
    height: 12px;
    background-position: -0px -3028px;
}
*.cal_report_icon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 16px;
    height: 15px;
    background-position: -0px -3050px;
}
*.list_report_icon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 17px;
    height: 14px;
    background-position: -0px -3075px;
}
*.summary_report_icon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 17px;
    height: 14px;
    background-position: -0px -3099px;
}
*.grid_report_icon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 16px;
    height: 14px;
    background-position: -0px -3123px;
}
*.chart_report_icon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 16px;
    height: 16px;
    background-position: -0px -3147px;
}
*.page_icon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    background-position: -0px -1692px;
    width: 16px;
    height: 15px;
}
*.normal_form_icon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    background-position: -0px -1641px;
    width: 17px;
    height: 15px;
}
*.stateless_form_icon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 17px;
    height: 14px;
    background-position: -0px -3173px;
}
*.pivot_tablereport_icon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 17px;
    height: 14px;
    background-position: -0px -3197px;
}
*.ui-accordion-header-icon.right_pane_accord_arrow_down {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 12px;
    height: 8px;
    background-position: -0px -3221px;
}
*.ui-accordion-header-icon.right_pane_accord_arrow_right {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 8px;
    height: 12px;
    background-position: -0px -3239px;
}
*.color_picker_field_icon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 8px;
    height: 8px;
    background-position: -0px -3261px;
}

*.widgetsborder {
    background: url(../images/zc_appedit_bg.png) no-repeat scroll 0 0 transparent;
    width: 2px;
    height: 40px;
    background-position: -0px -3279px;
}
*.widgetsHeaderListArrow {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 10px;
    height: 7px;
    background-position: -0px -3329px;
}
*.datarecord {
    background: url(../images/zc_appedit_bg.png) no-repeat scroll 0 0 transparent;
    width: 23px;
    height: 23px;
    background-position: -0px -3346px;
}
*.nodatabg {
    background: url(../images/zc_appedit_bg.png) no-repeat scroll 0 0 transparent;
    width: 47px;
    height: 7px;
    background-position: -0px -3379px;
}
*.dashboardReportIcon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 11px;
    height: 12px;
    background-position: -0px -3396px;
}
*.normalformicon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    background-position: -0px -1641px;
    width: 17px;
    height: 15px;
}
*.statelessformicon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    background-position: -0px -3173px;
    width: 17px;
    height: 14px;
}
*.pageicon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    background-position: -0px -1692px;
    width: 16px;
    height: 15px;
}
*.listreport {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    background-position: -0px -3075px;
    width: 17px;
    height: 14px;
}
*.summaryreport {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    background-position: -0px -3099px;
    width: 17px;
    height: 14px;
}
*.calendarreport {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    background-position: -0px -3050px;
    width: 16px;
    height: 15px;
}
*.gridreport {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    background-position: -0px -3123px;
    width: 16px;
    height: 14px;
}
*.sheetreport {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    background-position: -0px -3123px;
    width: 16px;
    height: 14px;
}
*.pivottablereport {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    background-position: -0px -3197px;
    width: 17px;
    height: 14px;
}
*.pivotchartreport,
*.chartreport {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    background-position: -0px -3147px;
    width: 16px;
    height: 16px;
}
*.backupIcon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 18px;
    height: 16px;
    background-position: -0px -3418px;
}
*.usageLogIcon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 17px;
    height: 17px;
    background-position: -0px -3444px;
}
*.statelessform {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: -1px;
    height: -1px;
    background-position: -0px -3471px;
}
*.restoreBackupIcon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 15px;
    height: 14px;
    background-position: -0px -3480px;
}
*.downloadBackupIcon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 11px;
    height: 11px;
    background-position: -0px -3504px;
}
*.searchBox input[type="button"] {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 15px;
    height: 12px;
    background-position: -0px -3525px;
}
*.searchBox input[type="button"].withFilters {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 17px;
    height: 12px;
    background-position: -0px -3547px;
}
*.sb-sandboxIcon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 18px;
    height: 13px;
    background-position: -0px -3569px;
}
*.zc-sb-create-Infoicon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 15px;
    height: 15px;
    background-position: -0px -3592px;
}
*.zc-sb-create-Infoicon:hover {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 15px;
    height: 15px;
    background-position: -0px -3617px;
}
*.sb-disableIcon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 14px;
    height: 14px;
    background-position: -0px -3642px;
}
*.sb-refreshIcon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 13px;
    height: 14px;
    background-position: -0px -3666px;
}
*.sb-deleteIcon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 12px;
    height: 14px;
    background-position: -0px -3690px;
}
*.gappsIcon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 14px;
    height: 14px;
    background-position: -0px -3714px;
}
*.zc-formulaIcon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 16px;
    height: 16px;
    background-position: -0px -3738px;
}
*.phoneIcon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 16px;
    height: 16px;
    background-position: -0px -3764px;
}
*.salesforceIcon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 16px;
    height: 16px;
    background-position: -0px -3790px;
}
*.externalIntegration {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 16px;
    height: 16px;
    background-position: -0px -3816px;
}
*.integrationIcon,
*.integrationFieldIcon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    background-position: -0px -3816px;
    width: 16px;
    height: 16px;
}
*.sdpodIcon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 16px;
    height: 16px;
    background-position: -0px -3842px;
}
*.tempHeadBdr *.twocolumn {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: -1px;
    height: -1px;
    background-position: -0px -3868px;
}
*.tempHeadBdr:hover *.twocolumn {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    background-position: -0px -3868px;
    width: -1px;
    height: -1px;
}
*.crmLeadIcon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 14px;
    height: 14px;
    background-position: -0px -3877px;
}
*.sdpodLookupIcon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 16px;
    height: 16px;
    background-position: -0px -3901px;
}
*.crmACIcon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    background-position: -0px -3877px;
    width: 14px;
    height: 14px;
}
*.clearIcon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 15px;
    height: 10px;
    background-position: -0px -3927px;
}
*.formListing input {
    background: url(../images/zc_appedit_bg.png) no-repeat right;
    width: 14px;
    height: 14px;
    background-position: -0px -3947px;
}
*.functionsIcon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    background-position: -0px -3738px;
    width: 16px;
    height: 16px;
}
*.twoColumnIcon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 15px;
    height: 14px;
    background-position: -0px -3971px;
}
*.singleColumnIcon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 15px;
    height: 14px;
    background-position: -0px -3995px;
}
*.selectField a {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    background-position: -0px -1320px;
    width: 10px;
    height: 14px;
}
*.layoutIcon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 24px;
    height: 14px;
    background-position: -0px -4019px;
}
*.deviceIcon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 26px;
    height: 14px;
    background-position: -0px -4043px;
}
*.appleIcon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 26px;
    height: 14px;
    background-position: -0px -4067px;
}
*.reportsIcon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 22px;
    height: 14px;
    background-position: -0px -4091px;
}
*.formSettingsIcon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 26px;
    height: 16px;
    background-position: -0px -4115px;
}
*.formSaveIcon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 14px;
    height: 14px;
    background-position: -0px -4141px;
}
*.formListingTopshadow *.formSaveIcon,
*.formSaveIcon:hover {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 14px;
    height: 14px;
    background-position: -0px -4165px;
}
*.fxArrow {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 28px;
    height: 12px;
    background-position: -0px -4189px;
}
*.formListing *.topArrow {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 25px;
    height: 12px;
    background-position: -0px -4211px;
}
*.imgGrayArrow {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 10px;
    height: 5px;
    background-position: -0px -4233px;
}
*.moveCompIcon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 8px;
    height: 6px;
    background-position: -0px -4248px;
}
*.moveCompToggleIcon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 8px;
    height: 6px;
    background-position: -0px -4264px;
}
*.dropdown_bullet {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 7px;
    height: 4px;
    background-position: -0px -4280px;
}
*.subform_links:hover *.dropdown_bullet {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 7px;
    height: 4px;
    background-position: -0px -4294px;
}
*.ipadFieldMove small {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 16px;
    height: 16px;
    background-position: -0px -4308px;
}
*.ipadFieldMoveinview small {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    background-position: -0px -4308px;
    width: 16px;
    height: 16px;
}
*.imglock {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 14px;
    height: 14px;
    background-position: -0px -4334px;
}
*.addGrid {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 9px;
    height: 9px;
    background-position: -0px -4358px;
}
*.buttonclose {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 16px;
    height: 16px;
    background-position: -0px -4377px;
}
*.ruleIcon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: -1px;
    height: -1px;
    background-position: -0px -4403px;
}
*.list_view_icon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 16px;
    height: 12px;
    margin: 0 7px 0 0;
    float: left;
    background-position: -0px -4412px;
}
*.summary_view_icon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 16px;
    height: 13px;
    margin: 0 7px 0 0;
    float: left;
    background-position: -0px -4434px;
}
*.delete {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    background-position: -0px -4457px;
    padding: 0;
    width: 10px;
    height: 18px;
    overflow: hidden;
    cursor: pointer;
}
*.grid_view_icon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 16px;
    height: 12px;
    margin: 0 7px 0 0;
    float: left;
    background-position: -0px -4477px;
}
*.calendar_view_icon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 16px;
    height: 13px;
    margin: 0 7px 0 0;
    float: left;
    background-position: -0px -4499px;
}
*.pivot_table_icon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 16px;
    height: 13px;
    margin: 0 7px 0 0;
    float: left;
    background-position: -0px -3197px;
}
*.pivot_chart_icon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 16px;
    height: 13px;
    margin: 0 7px 0 0;
    float: left;
    background-position: -0px -4522px;
}
*.filters_list_height *.divider {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 2px;
    height: 43px;
    background-position: -0px -4545px;
}
*.group_list_height *.divider {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 2px;
    height: 30px;
    background-position: -0px -4545px;
}
*.colprop_list_height *.divider {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 2px;
    height: 35px;
    background-position: -0px -4545px;
}
*.edit_icon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 15px;
    height: 15px;
    margin: 13px 10px 0 20px;
    cursor: pointer;
    background-position: -0px -4597px;
}
*.trash_icon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 14px;
    height: 15px;
    margin: 13px 10px 0 0;
    cursor: pointer;
    background-position: -0px -4622px;
}
*.trash_icon_col_prop {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 14px;
    height: 14px;
    cursor: pointer;
    opacity: .6;
    background-position: -0px -0px;
}
*.trash_icon_col_prop:hover {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 14px;
    height: 14px;
    cursor: pointer;
    opacity: 1;
    background-position: -0px -24px;
}
*.rec_duplicate_icon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 14px;
    height: 15px;
    margin: 13px 10px 0 13px;
    cursor: pointer;
    opacity: .6;
    background-position: -0px -4647px;
}
*.rec_duplicate_icon:hover {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 14px;
    height: 14px;
    cursor: pointer;
    opacity: 1;
    background-position: -0px -4647px;
}
*.settings_icon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 14px;
    height: 15px;
    margin: 12px 15px 0 15px;
    cursor: pointer;
    background-position: -0px -4670px;
}
*.colprop_icon_wrapper:hover *.settings_icon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 14px;
    height: 15px;
    margin: 12px 15px 0 15px;
    cursor: pointer;
    background-position: -0px -4695px;
}
*.link_icon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 15px;
    height: 15px;
    margin: 12px 15px 0 15px;
    cursor: pointer;
    background-position: -0px -4720px;
}
*.colprop_icon_wrapper:hover *.link_icon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 15px;
    height: 15px;
    margin: 12px 15px 0 15px;
    cursor: pointer;
    background-position: -0px -4745px;
}
*.sort_asc {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 40px;
    height: 30px;
    cursor: pointer;
    background-position: -0px -4770px;
}
*.colprop_icon_wrapper:hover *.sort_asc {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 40px;
    height: 30px;
    cursor: pointer;
    background-position: -0px -4810px;
}
*.sort_dsc {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 40px;
    height: 30px;
    cursor: pointer;
    background-position: -0px -4850px;
}
*.colprop_icon_wrapper:hover *.sort_dsc {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 40px;
    height: 30px;
    cursor: pointer;
    background-position: -0px -4890px;
}
*.expand_icon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 16px;
    height: 16px;
    margin: 13px 20px 0 0;
    cursor: pointer;
    background-position: -0px -4930px;
}
*.minimize_icon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 16px;
    height: 16px;
    margin: 13px 20px 0 0;
    cursor: pointer;
    background-position: -0px -4956px;
}
*.show_col_filter_arrow {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    display: inline-block;
    position: relative;
    width: 17px;
    height: 10px;
    background-position: -0px -4982px;
}
*.templateSelect {
    width: 14px;
    height: 14px;
    margin: 12px 15px 0 15px;
    cursor: pointer;
}
*.fields_list_divider>span {
    position: absolute;
    left: 50%;
    margin-left: -21px;
    background: url(../images/zc_appedit_bg.png) no-repeat 50%;
    width: 43px;
    padding: 0 3px;
    height: 7px;
    display: block;
    top: -4px;
    background-position: -0px -5002px;
}
*.displayedit_icon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    cursor: pointer;
    height: 11px;
    width: 11px;
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
    background-position: -0px -554px;
}
*.preview_1_view_img {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 357px;
    height: 156px;
    background-position: -0px -5019px;
}
*.preview_2_view_img {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 357px;
    height: 156px;
    background-position: -0px -5185px;
}
*.preview_3_view_img {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 357px;
    height: 156px;
    background-position: -0px -5351px;
}
*.preview_4_view_img {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 357px;
    height: 156px;
    background-position: -0px -5517px;
}
*.preview_5_view_img {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 357px;
    height: 156px;
    background-position: -0px -5683px;
}
*.preview_6_view_img {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 357px;
    height: 156px;
    background-position: -0px -5849px;
}
*.customedit_icon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    cursor: pointer;
    height: 11px;
    width: 11px;
    background-position: -0px -554px;
}
*.columnedit_icon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 15px;
    height: 15px;
    margin: 12px 15px 0 15px;
    cursor: pointer;
    background-position: -0px -4597px;
}
*.upgrade_smiley {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 26px;
    height: 28px;
    margin: 0 10px 0 0;
    background-position: -0px -6015px;
}
*.ipadhelpicon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 2px;
    height: 8px;
    float: left;
    margin: 4px 2px 5px;
    background-position: -0px -6053px;
}
*.checkbox_container input[type="checkbox"]+label span {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    background-position: -0px -1344px;
    width: 15px;
    height: 15px;
}
*.checkbox_container input[type="checkbox"]:checked+label span {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    background-position: -0px -1369px;
    width: 15px;
    height: 15px;
}
*.builder_Bold,
*.builder_Italic,
*.builder_Underline {
    background: url(../images/zc_appedit_bg.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 9px;
    width: 9px;
    margin: 6px 5px 4px;
    background-position: -0px -6072px;
}
*.builder_Italic {
    background: url(../images/zc_appedit_bg.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 10px;
    width: 6px;
    margin: 5px 5px 4px;
    background-position: -0px -6091px;
}
*.builder_Underline {
    background: url(../images/zc_appedit_bg.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 11px;
    width: 10px;
    margin: 5px 5px 3px;
    background-position: -0px -6111px;
}
*.bg_color {
    background: url(../images/zc_appedit_bg.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 14px;
    width: 16px;
    margin: 2px 5px 3px;
    background-position: -0px -6132px;
}
*.builder_Strike {
    background: url(../images/zc_appedit_bg.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 10px;
    opacity: .7;
    width: 16px;
    margin: 5px 5px 4px;
    background-position: -0px -6156px;
}
*.zcview_builder_font_color {
    background: url(../images/zc_appedit_bg.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 8px;
    width: 10px;
    margin: 4px 8px;
    background-position: -0px -6176px;
}
*.publish-icon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 15px;
    height: 15px;
    opacity: .7!important;
    margin-top: -1px;
    background-position: -0px -6196px;
}
*.recsum_layout_thumb_1 {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 45px;
    height: 34px;
    background-position: -0px -6221px;
}
*.recsum_layout_thumb_21 {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 45px;
    height: 34px;
    background-position: -0px -6265px;
}
*.recsum_layout_thumb_22 {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 45px;
    height: 34px;
    background-position: -0px -6309px;
}
*.recsum_layout_thumb_23 {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 45px;
    height: 34px;
    background-position: -0px -6353px;
}
*.recsum_layout_thumb_31 {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 45px;
    height: 34px;
    background-position: -0px -6397px;
}
*.recsum_layout_thumb_32 {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 45px;
    height: 34px;
    background-position: -0px -6441px;
}
*.mobile-info {
    width: 440px!important;
    color: #787878;
}
*.mobile-info li {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    line-height: 9px;
    padding-left: 11px;
    width: 4px;
    height: 7px;
    background-position: -0px -6485px;
}
*.close,
*.close:hover {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 11px;
    height: 12px;
    background-position: -0px -6502px;
}
*.freeflow-switch-icon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 10px;
    height: 12px;
    background-position: -0px -6524px;
}
*.version-icon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 10px;
    height: 12px;
    background-position: -0px -6546px;
}
*.trash-icon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 11px;
    height: 12px;
    background-position: -0px -6568px;
}
*.settings-icon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 12px;
    height: 13px;
    background-position: -0px -4670px;
}
*.preview-icon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 12px;
    height: 13px;
    background-position: -0px -6590px;
}
a.scriptbuilder-add {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    opacity: .5;
    padding-top: 0;
    margin-left: 0;
    width: 11px;
    height: 11px;
    text-decoration: none;
    background-position: -0px -6613px;
}
a.scriptbuilder-add:hover {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    opacity: 1;
    border: none;
    width: 11px;
    height: 11px;
    background-position: -0px -6613px;
}
*.calendarIcon,
*.calIcon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    background-position: -0px -643px;
    width: 14px;
    height: 14px;
}
*.calTimeIcon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    background-position: -0px -667px;
    width: 16px;
    height: 16px;
}
*.setvariable-dropdown {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 18px;
    height: 20px;
    background-position: -0px -6634px;
}
*.ui-datepicker *.ui-datepicker-next span {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    background-position: -0px -2805px;
    width: 6px;
    height: 9px;
}
*.ui-datepicker *.ui-datepicker-prev span {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    background-position: -0px -2824px;
    width: 6px;
    height: 9px;
}
a.expression-button {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 26px;
    height: 15px;
    background-position: -0px -6664px;
}
a.expression-button:hover {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 26px;
    height: 15px;
    background-position: -0px -6689px;
}
*.param-dropdown {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    background-position: -0px -6634px;
    width: 18px;
    height: 20px;
}
*.shortkeys-img:after {
    content: "";
    background: url(../images/zc_appedit_bg.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 27px;
    vertical-align: middle;
    height: 24px;
    padding-right: 0;
    zoom: .7;
    background-position: -0px -6714px;
}
a.scriptbuilder-edit:before {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 11px;
    height: 10px;
    background-position: -0px -6750px;
}
a.scriptbuilder-delete:before {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    background-position: -0px -6568px;
    width: 11px;
    height: 12px;
}
*.wb-alert-icon,
*.wb-popup-innerContainer *.wb-row *.wb-action-type *.wb-type.wb-alert-icon:before {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    background-position: -0px -6770px;
}
*.wb-field-action-icon,
*.wb-popup-innerContainer *.wb-row *.wb-action-type *.wb-type.wb-field-action-icon:before {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 16px;
    height: 16px;
    vertical-align: top;
    background-position: -0px -6795px;
}
*.wb-integrations-icon,
*.wb-popup-innerContainer *.wb-row *.wb-action-type *.wb-type.wb-integrations-icon:before {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    background-position: -0px -6821px;
}
*.wb-data-actions-icon,
*.wb-popup-innerContainer *.wb-row *.wb-action-type *.wb-type.wb-data-actions-icon:before {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    background-position: -0px -6847px;
}
*.wb-custom-process-icon,
*.wb-popup-innerContainer *.wb-row *.wb-action-type *.wb-type.wb-custom-process-icon:before {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    background-position: -0px -6873px;
}
*.wb-timedate:after {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    height: 18px;
    width: 17px;
    background-position: -0px -6899px;
}
*.wb-timedate.wb-time:after {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    height: 17px;
    width: 17px;
    background-position: -0px -6927px;
}
*.layout_thumb_1 {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 42px;
    height: 37px;
    background-position: -0px -6954px;
}
*.layout_thumb_2 {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 42px;
    height: 37px;
    background-position: -0px -7001px;
}
*.layout_thumb_3 {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 42px;
    height: 37px;
    background-position: -0px -7048px;
}
*.layout_thumb_4 {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 42px;
    height: 37px;
    background-position: -0px -7095px;
}
*.layout_thumb_5 {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 42px;
    height: 37px;
    background-position: -0px -7142px;
}
*.layout_thumb_6 {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 42px;
    height: 37px;
    background-position: -0px -7189px;
}
*.mobile_layout_thumb_1 {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 42px;
    height: 37px;
    background-position: -0px -7236px;
}
*.mobile_layout_thumb_3 {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 42px;
    height: 37px;
    background-position: -0px -7283px;
}
*.mobile_layout_thumb_2 {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 42px;
    height: 37px;
    background-position: -0px -7330px;
}
*.mobile_layout_thumb_4 {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 42px;
    height: 37px;
    background-position: -0px -7377px;
}
*.mobile_layout_thumb_5 {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 42px;
    height: 37px;
    background-position: -0px -7424px;
}
*.mobile_layout_thumb_6 {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 42px;
    height: 37px;
    background-position: -0px -7424px;
}
*.mobile_layout_thumb_7 {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 42px;
    height: 37px;
    background-position: -0px -7471px;
}
*.section_edit_icon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 11px;
    height: 11px;
    margin: 2px 3px 0 0;
    cursor: pointer;
    background-position: -0px -7518px;
}
*.section_delete_icon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 7px;
    height: 7px;
    margin: 4px 5px 0 0;
    cursor: pointer;
    background-position: -0px -7539px;
}
*.section_show_hide_icon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 14px;
    height: 10px;
    margin: 2px 3px 0 0;
    cursor: pointer;
    background-position: -0px -7556px;
}
*.zc-spriteImage {
    background: url(../images/zc_appedit_bg.png) no-repeat scroll 0 0 transparent;
    width: 7px;
    height: 7px;
    background-position: -0px -7576px;
}
*.custom_select_double_triangle {
    background: url(../images/zc_appedit_bg.png) no-repeat scroll 0 0 transparent;
    width: 7px;
    height: 11px;
    background-position: -0px -7593px;
}
*.publishIcon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 14px;
    height: 13px;
    background-position: -0px -7614px;
}
*.livechat {
    background: url(../images/zc_appedit_bg.png) no-repeat scroll 0 0 transparent;
    width: 70px;
    height: 59px;
    background-position: -0px -7637px;
}
*.template_popupClose {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 42px;
    height: 44px;
    background-position: -0px -7706px;
}
*.imgsettingEmail {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    background-position: -0px -1206px;
    width: 12px;
    height: 10px;
}
*.imgsettingPublish {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    background-position: -0px -1226px;
    width: 12px;
    height: 13px;
}
*.imgsettingPayment {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    background-position: -0px -1249px;
    width: 14px;
    height: 15px;
}
*.imgsettingWorkflow {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    background-position: -0px -1274px;
    width: 9px;
    height: 13px;
}
*.imgsettingSecurity {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    background-position: -0px -1297px;
    width: 11px;
    height: 13px;
}
*.previewBoxcloed {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 42px;
    height: 39px;
    background-position: -0px -7760px;
}
*.imgAddConnect {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    height: 13px;
    width: 13px;
    margin: 2px 12px 0 8px;
    opacity: .5;
    background-position: -0px -7809px;
}
*.smallEdit {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    background-position: -0px -554px;
    width: 11px;
    height: 11px;
}
*.form_setting_spacer_gif {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: -1px;
    height: -1px;
    background-position: -0px -7832px;
}
*.form_setting_go_arrow_gif {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 3px;
    height: 6px;
    background-position: -0px -7841px;
}
*.record_audit-s-pulse-profile-img i {
    background: url(/creator/ZOHOCREATOR_CORE_CREATOR_BRANCH_REVIEWED_Jul_28_2016_8/images/edit/edit2.png);
    height: 12px;
    width: 12px;
    float: left;
    display: block;
    opacity: .7;
}
*.record_audit-s-pulse-profile-img-delete i {
    background: url(/creator/ZOHOCREATOR_CORE_CREATOR_BRANCH_REVIEWED_Jul_28_2016_8/images/edit/delete.png);
    height: 11px;
    width: 10px;
    float: left;
    display: block;
    opacity: .7;
}
*.record_audit-top_header {
    background: url(/creator/ZOHOCREATOR_CORE_CREATOR_BRANCH_REVIEWED_Jul_28_2016_8/edit/form/images/top-links-bg.jpg) repeat-x;
    height: 41px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}
*.record_audit-left_links {
    background: url(/zohocreator/appbuilder/edit/form/images/left-links-bg.jpg) repeat-y;
    width: 100px;
    position: fixed;
    margin-top: 41px;
    height: 100%;
}
*.record_audit-left_logo_wrapper {
    position: absolute;
    bottom: 50px;
}
*.record_audit-left_pane_wrapper {
    background: url(/zohocreator/appbuilder/edit/form/images/left-pane-bg.jpg) repeat-y;
    width: 216px;
    position: fixed;
    height: 100%;
    margin: 41px 0 0 100px;
}
*.dataHistoryHeadersearchBoxButton {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    background-position: -0px -3525px;
    width: 15px;
    height: 12px;
}
*.record_audit-calcIcon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    background-position: -0px -643px;
    width: 14px;
    height: 14px;
}
*.dataHistoryHeaderList input[type="button"] {
    background: url(../images/zc_appedit_bg.png) 10px 11px no-repeat;
    background-position: -0px -4280px;
    width: 7px;
    height: 4px;
}
*.record_auditLoadingData span {
    background: url(/creator/ZOHOCREATOR_CORE_CREATOR_BRANCH_REVIEWED_Jul_28_2016_8/edit/form/images/loading.gif);
}
*.icon_add_users,
*.manageUsersIcon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 16px;
    height: 15px;
    background-position: -0px -7857px;
}
*.icon_add_groups,
*.manageGroupsIcon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 16px;
    height: 16px;
    background-position: -0px -7882px;
}
*.icon_share_application {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 16px;
    height: 15px;
    background-position: -0px -7908px;
}
*.icon_share_sections {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 12px;
    height: 11px;
    background-position: -0px -7933px;
}
*.icon_share_form {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 14px;
    height: 11px;
    background-position: -0px -512px;
}
*.icon_share_view {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    width: 14px;
    height: 11px;
    background-position: -0px -533px;
}
*.imgAddConnect,
*.rulebuilder_wrapper ul li ul.integration_edit_list_ul li b.imgAddConnect {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    height: 13px;
    width: 13px;
    margin: 2px 9px 0 8px;
    opacity: .5;
    float: left;
    background-position: -0px -7809px;
}
*.imgDelate {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    height: 14px;
    width: 14px;
    margin: 0 auto;
    opacity: .5;
    margin-bottom: 1px;
    background-position: -0px -755px;
}
*.imgEdit {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    height: 14px;
    width: 14px;
    margin: 0 auto;
    margin-bottom: 1px;
    background-position: -0px -554px;
}
*.imgSpam {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    height: 14px;
    width: 14px;
    margin: 0 auto;
    margin-bottom: 1px;
    opacity: .5;
    background-position: -0px -3642px;
}
*.iconClickatell {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    height: 40px;
    width: 40px;
    background-position: -0px -7954px;
}
*.iconClockworksms {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    height: 40px;
    width: 40px;
    background-position: -0px -8004px;
}
*.iconHoiio {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    height: 40px;
    width: 40px;
    background-position: -0px -8054px;
}
*.iconTwilio {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    height: 40px;
    width: 40px;
    background-position: -0px -8104px;
}
*.iconScreenmagic {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    height: 40px;
    width: 40px;
    background-position: -0px -8154px;
}
*.iconQuickbooks {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    height: 40px;
    width: 40px;
    background-position: -0px -8204px;
}
*.iconSalesForce {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    height: 40px;
    width: 40px;
    background-position: -0px -3790px;
}
*.iconXero {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    height: 40px;
    width: 40px;
    background-position: -0px -8254px;
}
*.iconZohoMail {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    height: 40px;
    width: 40px;
    background-position: -0px -8304px;
}
*.iconGmail {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    height: 40px;
    width: 40px;
    background-position: -0px -8354px;
}
*.iconMandrill {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    height: 40px;
    width: 40px;
    background-position: -0px -8404px;
}
*.iconAmazon {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    height: 40px;
    width: 40px;
    background-position: -0px -8454px;
}
*.iconBox {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    height: 40px;
    width: 40px;
    background-position: -0px -8504px;
}
*.iconOneDrive {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    height: 40px;
    width: 40px;
    background-position: -0px -8554px;
}
*.iconDropbox {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    height: 40px;
    width: 40px;
    background-position: -0px -8604px;
}
*.iconGdrive {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    height: 40px;
    width: 40px;
    background-position: -0px -8654px;
}
*.iconZendesk {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    height: 40px;
    width: 40px;
    background-position: -0px -8704px;
}
*.iconFreshdesk {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    height: 40px;
    width: 40px;
    background-position: -0px -8754px;
}
*.iconOtherMail {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    height: 40px;
    width: 40px;
    background-position: -0px -8804px;
}
*.iconClickatellsmall {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    height: 16px;
    width: 16px;
    background-position: -0px -8854px;
}
*.iconClockworksmssmall {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    height: 16px;
    width: 16px;
    background-position: -0px -8880px;
}
*.iconHoiiosmall {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    height: 16px;
    width: 16px;
    background-position: -0px -8906px;
}
*.iconTwiliosmall {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    height: 16px;
    width: 16px;
    background-position: -0px -8932px;
}
*.iconScreenmagicsmall {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    height: 16px;
    width: 16px;
    background-position: -0px -8958px;
}
*.iconQuickbookssmall {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    height: 16px;
    width: 16px;
    background-position: -0px -8984px;
}
*.iconSalesForcesmall {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    height: 16px;
    width: 16px;
    background-position: -0px -9010px;
}
*.iconXerosmall {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    height: 16px;
    width: 16px;
    background-position: -0px -9036px;
}
*.iconZohoMailsmall {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    height: 16px;
    width: 16px;
    background-position: -0px -9062px;
}
*.iconGmailsmall {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    height: 16px;
    width: 16px;
    background-position: -0px -9088px;
}
*.iconMandrillsmall {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    height: 16px;
    width: 16px;
    background-position: -0px -9114px;
}
*.iconAmazonsmall {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    height: 16px;
    width: 16px;
    background-position: -0px -9140px;
}
*.iconBoxsmall {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    height: 16px;
    width: 16px;
    background-position: -0px -9166px;
}
*.iconOneDrivesmall {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    height: 16px;
    width: 16px;
    background-position: -0px -9192px;
}
*.iconDropboxsmall {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    height: 16px;
    width: 16px;
    background-position: -0px -9218px;
}
*.iconGdrivesmall {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    height: 16px;
    width: 16px;
    background-position: -0px -9244px;
}
*.iconZendesksmall {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    height: 16px;
    width: 16px;
    background-position: -0px -9270px;
}
*.iconFreshdesksmall {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    height: 16px;
    width: 16px;
    background-position: -0px -9296px;
}
*.iconOtherMailsmall {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    height: 16px;
    width: 16px;
    background-position: -0px -9322px;
}
*.iconDefaultsmall {
    background: url(../images/zc_appedit_bg.png) no-repeat;
    height: 16px;
    width: 16px;
    opacity: .5;
    background-position: -0px -9348px;
}
*.upgradepopup_close {
    background: url(../images/zc_appedit_bg.png) no-repeat scroll 0 0 transparent;
    background-position: -0px -4457px;
    width: 9px;
    height: 10px;
}