@font-face {
    font-family: 'zc-formbuilder';
    src: url('fonts/zc-formbuilder.eot');
    src: url('fonts/zc-formbuilder.eot') format('embedded-opentype'), url('fonts/zc-formbuilder.eot') format('truetype'), url('fonts/zc-formbuilder.woff') format('woff'), url('fonts/zc-formbuilder.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'lato',Arial;
}

ul {
    padding: 0;
    margin: 0;
    display: block;
}
ol, ul {
    list-style: none;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.zc-fb {
    font-family: 'zc-formbuilder'!important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.zc-fb-icon-MultiSelect:before {
    content: "\e913";
}
.zc-fb-icon-AutoNumber:before {
    content: "\e900";
}
.zc-fb-icon-Number:before {
    content: "\e904";
}
.zc-fb-icon-AddNotes:before {
    content: "\e907";
}
.zc-fb-icon-Currency2:before {
    content: "\e909";
}
.zc-fb-icon-Date-Time:before {
    content: "\e90c";
}
.zc-fb-icon-Decimal:before {
    content: "\e915";
}
.zc-fb-icon-DropDown:before {
    content: "\e916";
}
.zc-fb-icon-Percentage:before {
    content: "\e91a";
}
.zc-fb-icon-Signature:before {
    content: "\e91c";
}
.zc-fb-icon-SubForm:before {
    content: "\e91d";
}
.zc-fb-icon-crm-icon:before {
    content: "\e920";
}
.zc-fb-icon-PhoneNumber:before {
    content: "\e921";
}
.zc-fb-icon-Address:before {
    content: "\e901";
}
.zc-fb-icon-Admin:before {
    content: "\e902";
}
.zc-fb-icon-Audio:before {
    content: "\e903";
}
.zc-fb-icon-CheckBox:before {
    content: "\e905";
}
.zc-fb-icon-Currency:before {
    content: "\e906";
}
.zc-fb-icon-Date:before {
    content: "\e908";
}
.zc-fb-icon-DecisionBox:before {
    content: "\e90a";
}
.zc-fb-icon-Deciton:before {
    content: "\e90b";
}
.zc-fb-icon-FileUpload:before {
    content: "\e90d";
}
.zc-fb-icon-Formula:before {
    content: "\e90e";
}
.zc-fb-icon-Image:before {
    content: "\e90f";
}
.zc-fb-icon-LookUp:before {
    content: "\e910";
}
.zc-fb-icon-Mail:before {
    content: "\e911";
}
.zc-fb-icon-MultiLine:before {
    content: "\e912";
}
.zc-fb-icon-Name:before {
    content: "\e914";
}
.zc-fb-icon-Radio:before {
    content: "\e917";
}
.zc-fb-icon-RichText:before {
    content: "\e918";
}
.zc-fb-icon-Section:before {
    content: "\e919";
}
.zc-fb-icon-SingleLine:before {
    content: "\e91b";
}
.zc-fb-icon-Url:before {
    content: "\e91e";
}

.compWrapper {
    margin: 0;
    padding: 0;
    float: left;
    top: 0;
    left: 0;
    margin-right: 23px;
}

.components {
    border: solid 1px #e5e5e5;
    position: fixed;
    box-shadow: 0 0 1px #ddd;
    width: 241px;
    margin-left: 70px;
    background: #fff;
    margin-top: 60px;
}
.components-listing {
    background-color: #FFF;
    border: 1px solid #C4D8F9;
    min-height: 380px;
}
.components-listing_emailCont {
    background-color: #FFF;
    border: 1px solid #C4D8F9;
    min-height: 581px;
}
.components-listing_iframe {
    background-color: #FFF;
    border: 1px solid #C4D8F9;
    min-height: 519px;
}
.components-listing_public {
    background-color: #FFF;
    border: 1px solid #C4D8F9;
    min-height: 185px;
}

.compHeaderCont .compHeadAct {
    color: #484848;
    min-width: 22px;
    height: 21px;
    display: none;
}
.compHeaderCont .compHeadAct:hover {
    cursor: pointer;
    box-shadow: 1px 0 2px #CBCBCB inset;
    background: #EDEDEE;
    color: #484848;
}
#layoutSwitch ul li:last-child {
    display: none;
}
.moveCompIcon,
.moveCompToggleIcon {
    display: block;
    width: 8px;
    height: 6px;
    margin: 7px 7px 0;
    z-index: 999;
    background-position: -0px -4938px;
}
.compHeaderCont {
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    background: #f5f5f5;
    clear: both;
    color: #454545;
    font-size: 10px;
    font-weight: bold;
    font-family: lato;
    text-transform: uppercase;
    padding: 5px;
}
.compHeaderCont:first-child {
    border-top: none;
}

.ui-draggable .ui-dialog-titlebar {
    cursor: move;
}

.compListCont b {
    float: left;
}

.compListCont li.resetWidth {
    min-width: 50px;
}

.compListCont li:last-child,
.compListCont li:nth-last-child(2) {
    border-bottom: none;
}
.compListCont li {
    float: left;
    padding: 5px 5px 5px 8px;
    font-size: .917em;
    font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
    color: #2f3439;
    text-shadow: 1px 1px 0 #FFF;
    cursor: move;
    line-height: 21px;
    min-height: 24px;
    width: 50%;
    height: 35px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #ececec;
    background: #fff;
}
.compListCont li:nth-child(2n+1) {
    border-right: 1px solid #ececec;
    width: 50%;
}
.compListCont li:hover {
    background: #f9f9f9;
    color: #000;
}
.compListCont li small {
    display: none;
}
.compListCont li:hover small {
    display: block;
    position: absolute;
    right: 2px;
    top: 11px;
    font-size: 9px;
    color: #A3A3A3;
}
.compListCont li p {
    min-width: 68px;
    display: block;
    padding-left: 7px;
    font-family: lato;
    font-size: 12px;
}
.compListCont b {
    float: left;
}
.smalldraggable .compListCont ul b {
    font: inherit;
    float: none;
}
.compListCont li:hover b {
    font: inherit;
    opacity: .99;
    filter: alpha(opacity=99);
}

.compMinIcon, .textAreaIcon, .addressIcon, .numberIcon, .dropdownIcon, .radioIcon, .checkIcon, .nameIcon, .timeIcon, .dateIcon, .textIcon, .currencyIcon, .formulaIcon, .zc-formulaIcon, .emailIcon, .phoneIcon, .subformIcon, .websiteIcon, .imageIcon, .ratingIcon, .sectionIcon, .pagebreakIcon, .multilineIcon, .multiselect, .decisionbox, .decimalIcon, .percentIcon, .paymentIcon, .subformIcon, .zohocrmIcon, .salesforceIcon, .sdpodIcon, .externalIntegration, .fileuploadIcon, .lookupIcon, .formulaIcon, .addnotesIcon, .autonumberIcon, .gappsIcon, .usersIcon, .signatureIcon, .integrationIcon {
    display: block;
    width: 20px;
    height: 20px;
    margin-top: 4px;
    font-size: 20px;
}

.textIcon {
    margin-top: 0;
    font-size: 20px;
}

.flLeft {
    float: left;
}
.screenSize {
    padding: 0;
}

.fbOuterContainer {
    padding: 0;
    clear: both;
    font-family: lato;
    padding: 20px 0;
    position: relative;
}

.fbOuterContainer .propertiesChangeTop {
    position: fixed;
    top: 58px;
}

.templateWrapper {
    margin: 0 0 0 255px;
}

.template {
    background: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 0;
    border: 1px solid #e5e5e5;
    -webkit-box-shadow: 0 0 1px #ddd;
    -moz-box-shadow: 0 0 1px #ddd;
    box-shadow: 0 0 1px #ddd;
    width: 65%;
    margin-left: 17%;
    padding: 0;
    /* margin: 0; */
    min-height: 1000px;
    margin-top: 60px;
}

.ulNoStyle {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 0;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}

.fbProperties {
    float: right;
    margin: 0;
    padding: 0;
    position: fixed;
    right: 0;
    width: 318px;
    top: 60px;
    right: 0.5%;
    height: 1000px;
    background: #fff;
    -webkit-box-shadow: 0 0 1px #ddd;
    -moz-box-shadow: 0 0 1px #ddd;
    box-shadow: 0 0 1px #ddd;
}