*
{
    margin: 0;
    padding: 0;
}
.top
{
    z-index: 10;
    height:60px;
    width: 100%;
    position: fixed;
    background: #fff;
    margin-left: 60px;
}
.left
{
    width: 60px;
    height: 1000px;
}
.content {
    top: 10px;
    height: 10000px;
    background: #fff;
    position: relative;
}

.field
{
    margin-top: 60px;

}

.title {
    position: fixed;
    left: 50%;
    margin-left: -25%;
    width: 50%;
    z-index: 900;
}