@font-face {
    font-family: 'zc-formbuilder';
    src: url('fonts/zc-formbuilder.eot');
    src: url('fonts/zc-formbuilder.eot') format('embedded-opentype'), url('fonts/zc-formbuilder.eot') format('truetype'), url('fonts/zc-formbuilder.woff') format('woff'), url('fonts/zc-formbuilder.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
body
{
    font: 12px lato,Helvetica,sans-serif;
    background: #E0E0E0;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'lato',Arial;
}
*
{
  box-sizing:border-box;
}
ul {
    padding: 0;
    margin: 0;
    display: block;
}
ol, ul {
    list-style: none;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.zc-fb {
    font-family: 'zc-formbuilder'!important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.zc-fb-icon-MultiSelect:before {
    content: "\e913";
}
.zc-fb-icon-AutoNumber:before {
    content: "\e900";
}
.zc-fb-icon-Number:before {
    content: "\e904";
}
.zc-fb-icon-AddNotes:before {
    content: "\e907";
}
.zc-fb-icon-Currency2:before {
    content: "\e909";
}
.zc-fb-icon-Date-Time:before {
    content: "\e90c";
}
.zc-fb-icon-Decimal:before {
    content: "\e915";
}
.zc-fb-icon-DropDown:before {
    content: "\e916";
}
.zc-fb-icon-Percentage:before {
    content: "\e91a";
}
.zc-fb-icon-Signature:before {
    content: "\e91c";
}
.zc-fb-icon-SubForm:before {
    content: "\e91d";
}
.zc-fb-icon-crm-icon:before {
    content: "\e920";
}
.zc-fb-icon-PhoneNumber:before {
    content: "\e921";
}
.zc-fb-icon-Address:before {
    content: "\e901";
}
.zc-fb-icon-Admin:before {
    content: "\e902";
}
.zc-fb-icon-Audio:before {
    content: "\e903";
}
.zc-fb-icon-CheckBox:before {
    content: "\e905";
}
.zc-fb-icon-Currency:before {
    content: "\e906";
}
.zc-fb-icon-Date:before {
    content: "\e908";
}
.zc-fb-icon-DecisionBox:before {
    content: "\e90a";
}
.zc-fb-icon-Deciton:before {
    content: "\e90b";
}
.zc-fb-icon-FileUpload:before {
    content: "\e90d";
}
.zc-fb-icon-Formula:before {
    content: "\e90e";
}
.zc-fb-icon-Image:before {
    content: "\e90f";
}
.zc-fb-icon-LookUp:before {
    content: "\e910";
}
.zc-fb-icon-Mail:before {
    content: "\e911";
}
.zc-fb-icon-MultiLine:before {
    content: "\e912";
}
.zc-fb-icon-Name:before {
    content: "\e914";
}
.zc-fb-icon-Radio:before {
    content: "\e917";
}
.zc-fb-icon-RichText:before {
    content: "\e918";
}
.zc-fb-icon-Section:before {
    content: "\e919";
}
.zc-fb-icon-SingleLine:before {
    content: "\e91b";
}
.zc-fb-icon-Url:before {
    content: "\e91e";
}

.compWrapper {
    margin: 0;
    padding: 0;
    float: left;
    top: 0;
    left: 0;
    margin-right: 23px;
}

.components {
    border: solid 1px #e5e5e5;
    position: fixed;
    box-shadow: 0 0 1px #ddd;
    width: 241px;
    /* margin-left: 70px; */
    background: #fff;
    /* margin-top: 60px; */
    top: 70px;
    z-index: 1000;
}

.components-listing {
    background-color: #FFF;
    border: 1px solid #C4D8F9;
    min-height: 380px;
}
.components-listing_emailCont {
    background-color: #FFF;
    border: 1px solid #C4D8F9;
    min-height: 581px;
}
.components-listing_iframe {
    background-color: #FFF;
    border: 1px solid #C4D8F9;
    min-height: 519px;
}
.components-listing_public {
    background-color: #FFF;
    border: 1px solid #C4D8F9;
    min-height: 185px;
}

.compHeaderCont .compHeadAct {
    color: #484848;
    min-width: 22px;
    height: 21px;
    display: none;
}
.compHeaderCont .compHeadAct:hover {
    cursor: pointer;
    box-shadow: 1px 0 2px #CBCBCB inset;
    background: #EDEDEE;
    color: #484848;
}
#layoutSwitch ul li:last-child {
    display: none;
}
.moveCompIcon,
.moveCompToggleIcon {
    display: block;
    width: 8px;
    height: 6px;
    margin: 7px 7px 0;
    z-index: 999;
    background-position: -0px -4938px;
}
.compHeaderCont {
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    background: #f5f5f5;
    clear: both;
    color: #454545;
    font-size: 10px;
    font-weight: bold;
    font-family: lato;
    text-transform: uppercase;
    padding: 5px;
}
.compHeaderCont:first-child {
    border-top: none;
}

.ui-draggable .ui-dialog-titlebar {
    cursor: move;
}

.compListCont b {
    float: left;
}

.compListCont li.resetWidth {
    min-width: 50px;
}

.compListCont li:last-child,
.compListCont li:nth-last-child(2) {
    border-bottom: none;
}
.compListCont li {
    float: left;
    padding: 5px 5px 5px 8px;
    font-size: .917em;
    font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
    color: #2f3439;
    text-shadow: 1px 1px 0 #FFF;
    cursor: move;
    line-height: 21px;
    min-height: 24px;
    width: 50%;
    height: 35px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #ececec;
    background: #fff;
}
.compListCont li:nth-child(2n+1) {
    border-right: 1px solid #ececec;
    width: 50%;
}
.compListCont li:hover {
    background: #f9f9f9;
    color: #000;
}
.compListCont li small {
    display: none;
}
.compListCont li:hover small {
    display: block;
    position: absolute;
    right: 2px;
    top: 11px;
    font-size: 9px;
    color: #A3A3A3;
}
.compListCont li p {
    min-width: 68px;
    display: block;
    padding-left: 7px;
    font-family: lato;
    font-size: 12px;
}
.compListCont b {
    float: left;
}
.smalldraggable .compListCont ul b {
    font: inherit;
    float: none;
}
.compListCont li:hover b {
    font: inherit;
    opacity: .99;
    filter: alpha(opacity=99);
}

.compMinIcon, .textAreaIcon, .addressIcon, .numberIcon, .dropdownIcon, .radioIcon, .checkIcon, .nameIcon, .timeIcon, .dateIcon, .textIcon, .currencyIcon, .formulaIcon, .zc-formulaIcon, .emailIcon, .phoneIcon, .subformIcon, .websiteIcon, .imageIcon, .ratingIcon, .sectionIcon, .pagebreakIcon, .multilineIcon, .multiselect, .decisionbox, .decimalIcon, .percentIcon, .paymentIcon, .subformIcon, .zohocrmIcon, .salesforceIcon, .sdpodIcon, .externalIntegration, .fileuploadIcon, .lookupIcon, .formulaIcon, .addnotesIcon, .autonumberIcon, .gappsIcon, .usersIcon, .signatureIcon, .integrationIcon {
    display: block;
    width: 20px;
    height: 20px;
    margin-top: 4px;
    font-size: 20px;
}

.name .tempContDiv span, .phone .tempContDiv span, .date .tempContDiv span, .time .tempContDiv span, .currency .tempContDiv span, .tempContDiv span.formulaIcon, .tempContDiv span.zc-formulaIcon {
     float: left; 
     display: block; 
}

.textIcon {
    margin-top: 0;
    font-size: 20px;
}

.flLeft {
    float: left;
}
.screenSize {
    padding: 0;
}

.fbOuterContainer {
    padding: 0;
    clear: both;
    font-family: lato;
    padding: 20px 0;
    position: relative;
}

.fbOuterContainer .propertiesChangeTop {
    position: fixed;
    top: 58px;
}

.templateWrapper {
    margin: 0 0 0 255px;
}

.template {
    background: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 0;
    border: 1px solid #e5e5e5;
    -webkit-box-shadow: 0 0 1px #ddd;
    -moz-box-shadow: 0 0 1px #ddd;
    box-shadow: 0 0 1px #ddd;
    width: 65%;
    margin-left: 17%;
    padding: 0;
    /* margin: 0; */
    min-height: 1000px;
    margin-top: 60px;
}

.ulNoStyle {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 0;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}

.fbProperties {
    float: right;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 300px;
    top: 70px;
    background: #fff;
    -webkit-box-shadow: 0 0 1px #ddd;
    -moz-box-shadow: 0 0 1px #ddd;
    box-shadow: 0 0 1px #ddd;
}

.selectedType {
    margin-right: 0;
    cursor: default;
    background: none repeat scroll 0 0 #FFFBEF;
    border: 1px dashed #E8DBAD;
}
.selectedType .tempActions {
    display: block;
}

#fieldList
{
    position: relative;
    top: 60px;
}

#fieldList li
{
    float: left;
    width: 100%;
}

.tempFrmWrapper {
    padding: 12px 15px 12px 20px;
    margin: 0;
    cursor: pointer;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: relative;
}

.tempFrmWrapper:hover {
    border:1px dashed #CCC;
}

.tempActions {
    position: absolute;
    right: 15px;
    bottom: -13px;
    display: none;
    clear: both;
    background-color: white;
    border: 1px solid #DDD;
    border-radius: 20px 20px 20px 20px;
    cursor: pointer;
    z-index: 7;
}

.tempActions span {
    display: block;
    float: left;
    padding: 0;
}

.clearBoth {
    clear: both;
}

.labelName
{
	float: left;
	width: 30%;
}


.fbProperties {
    float: right;
    margin: 0;
    padding: 0;
    right: 0;
    -webkit-box-shadow: 0 0 1px #ddd;
    -moz-box-shadow: 0 0 1px #ddd;
    box-shadow: 0 0 1px #ddd;
}

.tempFrmWrapper .tempContDiv {
    float: left;
}

    /*.tempContDiv span {
        margin: 0 0 5px 0;
        padding: 0;
        width: 100%;
        float: left;
    }*/

.tempContDiv span input[type="checkbox"] {
    display: block;
    width: 13px;
    height: 13px;
    margin: 10px;
    padding: 0;
    display: inline;
}

.tempContDiv span input[type="radio"] {
    display: block;
    width: 13px;
    height: 13px;
    margin: 10px;
    padding: 0;
    display: inline;
}

.flLeft {
    float: left;
}

.date .tempContDiv span.calendarIcon,
.date .tempContDiv span.caltimeIcon, 
.tempContDiv span.formulaIcon, 
.tempContDiv span.zc-formulaIcon {
    margin-left: -21px;
    margin-top: 8px;
    height: 16px;
    width: 16px;
    cursor: pointer;
    opacity: .5;
}

.editIcon,
.duplicateIcon,
.shareIcon,
.trashIcon,
.accessIcon,
.settingsIcon {
    margin: 0 auto;
}
.trashIcon {
    width: 11px;
    height: 11px;
    margin-top: 2px;
    margin-bottom: 2px;
    opacity: .7;
}
.accessIcon {
    width: 14px;
    height: 12px;
    margin-bottom: 1px;
    margin-top: 1px;
    opacity: .7;
}
.settingsIcon {
    width: 14px;
    height: 14px;
    margin-bottom: 0;
    opacity: .6;
}
.delIcon {
    cursor: pointer;
    height: 12px;
    width: 12px;
    opacity: .5;
    filter: alpha(opacity=50);
    margin: 6px 7px;
}
.propdropIcon {
    width: 30px;
    height: 28px;
    cursor: pointer;
}
.addIcon {
    width: 14px;
    height: 14px;
    cursor: pointer;
    text-indent: 9999;
}
.moveIcon {
    width: 14px;
    height: 14px;
    cursor: move;
    text-indent: 9999;
    margin-top: 6px;
    opacity: 06;
}
.minusIcon {
    width: 17px;
    height: 17px;
    text-indent: 9999;
}
.dupeIcon {
    width: 14px;
    height: 14px;
    cursor: pointer;
}


.date .calTimeIcon {
    margin-top: 8px;
}

/*.tempContDiv input[type="text"],
.tempContDiv textarea,
.autoNumber input[type="text"],
.tempContDiv select[multiple] {
    background: #fff;
    cursor: pointer;
    border: 1px solid #d7d7d7;
    padding: 7px 5px;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #444;
    max-width: 88%;
    margin-left: 0;
}*/

.calTimeIcon,
.calIcon,
.preDefined 
.calendarIcon {
    width: 16px;
    float: left;
    height: 16px;
    cursor: pointer;
    margin-left: -21px;
    margin-top: 5px;
    opacity: .5;
}

.oneColumns .tempContDiv span {
    margin: 0 0 5px 0;
    padding: 0;
    width: 100%;
    display: block;
}

.nMedium .tempContDiv input[type="text"], .nMedium .tempContDiv textarea, .nMedium .tempContDiv select {
    width: 88%;
}
.nMedium .tempContDiv input[type="text"], .nMedium .tempContDiv textarea, .nMedium .tempContDiv select, .nMedium .tempContDiv input[type="file"] {
    width: 100%;
    pointer-events: none;
}
.tempContDiv input[type="text"], 
.tempContDiv textarea, 
.autoNumber input[type="text"], 
.tempContDiv select[multiple] {
    background: #fff;
    cursor: pointer;
    border: 1px solid #d7d7d7;
    padding: 7px 5px;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #444;
    margin-left: 0;
}

.decesion label {
    display: block;
    line-height: 21px;
    margin: -16px 0 0 24px;
    padding: 0;
}

.crmLeadIcon,
.clearIcon,
.crmLeadIcon,
.sdpodLookupIcon,
.integrationFieldIcon {
    height: 16px;
    width: 16px;
    margin: 9px 5px 0 -21px;
}
.crmLeadIcon,
.sdpodLookupIcon,
.integrationFieldIcon {
    opacity: .5;
    filter: alpha(opacity=50);
}

.tempContDiv input[type="checkbox"], .tempContDiv input[type="radio"] {
    display: block;
    height: 13px;
    margin: 4px 0 0;
    padding: 0;
    pointer-events: none;
    width: 13px;
}
/*input, input[type="text"], input[type="search"], isindex, textarea, button, input[type="file"], label, select {
    font-family: lato!important;
}
input, input[type="text"], input[type="search"], isindex, textarea, button, input[type="file"], label, select {
    outline: none;
    margin: 0 auto;
    font: 12px Arial,Helvetica,Verdana,sans-serif;
}*/


/* 
popup 
*/

.zcOverlay {
    background: none repeat scroll 0 0 rgba(0,0,0,0);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
    display: none;
}
.zcOverlay .leftLay {
    background: rgba(0,0,0,0.38);
    height: 100%;
    left: 0;
    top: 40px;
    width: 90px;
    position: absolute;
}

.zcOverlay .topLay {
    background: rgba(0,0,0,0.38);
    height: 40px;
    left: 0;
    top: 0;
    width: 100%;
    position: absolute;
}

.zcOverlay .centerLay {
    background: rgba(255,255,255,0.38);
    height: 100%;
    left: 90px;
    top: 40px;
    width: 100%;
    position: absolute;
}

.popupMainContainer {
    background: #fff;
    box-shadow: 0 3px 17px rgba(0,0,0,0.4);
    border: 1px solid #ddd;
    border-radius: 0;
    margin-bottom: 20px;
    z-index: 998;
    display: none;
    position: absolute;
}

.popup_header {
    background: url(../images/popupheader.png) repeat-x;
    height: 45px;
    cursor: move;
}

.popup_header h3 {
    margin: 0;
    padding: 13px 5px 0 15px;
    font-size: 16px;
    font-weight: normal;
}

.popupClose {
    width: 42px;
    height: 44px;
    background: url(../images/popclose.png);
    float: right;
    cursor: pointer;
    opacity: .8;
}

.magrinBottom {
    margin-bottom: 0;
}
.popupConentContainer {
    margin: 30px 20px 0 20px;
    min-height: 55px;
}

.choiceCont {
    margin: 0;
    padding: 0 10x 10px 10px;
}
.choiceCont {
    margin: 0;
    padding: 0;
}

.popupMenu {
    overflow: auto;
    border: 1px solid #ddd;
    border-radius: 3px;
    position: absolute;
    top: -13px;
    float: left;
    background: #fbfbfb;
    font-size: 12px;
    left: 20px;
}

.popupMenu a.selected, 
.popupMenu a:hover {
    background: #f3f3f3;
    color: #000;
    text-decoration: none;
}
.popupMenu a {
    float: left;
    padding: 6px 15px;
    text-decoration: none;
    color: #666;
    border-right: 1px solid #ddd;
}

.popupMenu a:last-child {
    border: none;
}

.displayoptions h4 {
    padding-bottom: 5px;
    text-shadow: 1px 1px px #fff;
    color: #999;
    padding-bottom: 8px;
    text-shadow: 1px 1px 1px #fff;
    font-weight: bold;
}

.looupErro {
    color: #8a6d3b;
    font-size: 12px;
    background: #fcf8e3;
    border-radius: 2px;
    border: 1px solid #faebcc;
    padding: 10px 15px;
    top: 5px;
    max-width: 340px;
    margin: 0 auto;
    text-align: center;
}



.choiceCont label {
    float: left;
    padding: 10px 0 0 0;
}


.displayoptions h4 {
    padding-bottom: 5px;
    text-shadow: 1px 1px px #fff;
    color: #999;
    padding-bottom: 8px;
    text-shadow: 1px 1px 1px #fff;
    font-weight: bold;
}

.displayAS {
    padding: 25px 10px 20px 10px;
    width: 260px;
    margin: 0 auto;
}

.displayAS label {
    float: left;
    padding: 6px 10px 5px 5px;
    color: #8a8a8a;
}

.custormselectbox, 
.custormsnewselectbox {
    float: left;
    background-color: #fff;
    border-right: 1px solid #ddd;
    height: 24px;
    overflow: hidden;
}

.custormselectbox, 
.alloweddateField .selectPart, .custormsnewselectbox {
    background: #fff url(../images/dropdown_bg.png) right top no-repeat;
}

.custormsnewselectbox select, .custormselectbox select {
    width: 100%;
}
.custormselectbox select, .custormsnewselectbox select {
    outline: 0;
    outline-style: 0;
    -moz-appearance: none;
    background: transparent;
    appearance: none;
    border: transparent 1px solid;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    margin-top: 0;
    -webkit-appearance: none;
    width: 100%;
    height: 24px;
    border: 1px solid #ddd;
    border-right: none;
    border-radius: 0;
    padding: 0 4px 0 4px;
    min-width: 180px;
}
.invisibledropdown {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    background: transparent;
    border: 1px solid transparent;
    float: left;
    padding: 0 4px 0 4px;
    padding: 0 4px\9;
    width: 100%;
}

.custormselectbox option {
    box-shadow: none;
    padding: 2px 6px;
    background: transparent;
}
.popupFooterBroder {
    border-top: 1px solid #EDEDED;
}
.popupFooter {
    text-align: center;
    overflow: auto;
    padding: 20px 0 20px;
}

.PopButton1, .PopButton2, .PopButton3 {
    background: #333;
    border: 1px solid #000;
    border-radius: 3px;
    color: #fff;
    padding: 5px 5px;
    margin-right: 10px;
    font-size: 12px;
    min-width: 60px;
    cursor: pointer;
    text-decoration: none;
}

.popupFooter.popupFooterBroder INPUT:last-child {
    margin-right: 0;
}
.content-scroll
{
    height: 800px;
    background-color: #E0E0E0;
    left: 270px;
    position: relative;
    max-height: 800px;
    width: 68%;
    overflow: hidden;
}
